.container {
  text-align: center;
  background: white;
  color: #666;
  padding: 2rem 3rem;
  border-radius: 1rem;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

#quote-box {
  margin: 1rem 0;
}

#quote {
  font-size: 1.3rem;
  font-style: italic;
}

#author {
  font-size: 1rem;
  color: #666;
}

button {
  background: #66a6ff;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background: #5c8cfb;
}
