body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  text-align: center;
  font-family: system-ui, sans-serif;
}
button {
  padding: 20px;
  width: 100%;
  border: none;
  background-color: black;
  color: aquamarine;
  border-radius: 10px;
  font-size: 20px;
  letter-spacing: 3px;
  font-weight: bolder;
  text-transform: uppercase;
}
